
/**
 * Шрифт в REM
 * @param  {number} $size кол-во пикселей (указывается в px)
 */

@mixin fontREM ($size) {
  font-size: $size;
  font-size: rem($size/1px);
}

@mixin font($fontSize, $fontName, $lineHeight) {
  font-size: $fontSize;
  font-family: $fontName;
  line-height: $lineHeight / $fontSize;
}

// Title H1
@mixin titleH1($color) {
  @include font(48px, $font-family, 56px);
  font-weight: 600;
  color: $color;
}

@mixin normalString($color) {
  @include font(14px, $font-family, 18px);
  font-weight: 400;
  color: $color;
}

@mixin button($fontSize) {
  display: inline-block;
  height: 40px;
  padding: 0 32px;

  @include font($fontSize, $font-family, $fontSize);
  font-weight: 400;
  white-space: nowrap;
  color: #000000;
  text-decoration: none;
  text-align: center;
  border: 0;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;
  appearance: none;
  background: transparent;

  transition: background-color $transition-time ease;

  &:hover,
  &:focus {
    text-decoration: none;
    background: rgba(#000000, 0.4);
  }

  &:active {
    background: rgba(#000000, 0.4);
  }

  &:disabled {
    background-color: $n-color-light;
    pointer-events: none;
  }
}


@mixin input($fontSize, $color, $placeholderColor) {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  border: 0;
  outline: none;
  appearance: none;
  border-radius: $border-radius;

  @include font($fontSize, $font-family, $fontSize);
  font-weight: 400;
  line-height: 40px;
  color: $color;
  overflow: hidden;
  white-space: nowrap;

  &::-webkit-input-placeholder {
    color: $placeholderColor;
  }

  &::-moz-placeholder {
    color: $placeholderColor;
  }

  &:-moz-placeholder {
    color: $placeholderColor;
  }

  &:-ms-input-placeholder {
    color: $placeholderColor;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus::-moz-placeholder {
    color: transparent;
  }

  &:focus:-moz-placeholder {
    color: transparent;
  }

  &:focus:-ms-input-placeholder {
    color: transparent;
  }
}
