<meta name="viewport" content="width=device-width, initial-scale=1">

<!--DEV Edge и ряд мобильных браузеров автоматом преобразуют телефоны в ссылки. Отключим это. -->
<meta name="format-detection" content="telephone=no">

<link href="css/style.min.css" rel="stylesheet" media="screen">

<script>
  // Маркер работающего javascript
  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
</script>

<link rel="icon" href="img/favicon.ico" type="image/x-icon">
<!--DEV Такой комментарий не попадет в собранный HTML
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
-->

<!--  Open Graph -->
<meta property="og:type" content="article">
<meta property="og:url" content="{page_url}">
<meta property="og:title" content="{title}">
<meta property="og:description" content="{description}">
<meta property="og:image" content="{image_url}">
