// layout

.layout { // html
  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    flex-shrink: 0;
  }
}

.test-image {
  position: relative;
  width: 300px;
  height: 200px;
  border: 1px solid rgba(27, 103, 179, 0.73);
  background: svg-load('../images/img_to_bg/tw.svg', fill=#000001);
  background-color: rgba(166, 171, 102, 0.3);
}
